body, html {
  background: linear-gradient(#142b40 0%, #6204b3 100%);
  color: rgb(85, 112, 236);
  margin: 0;
}

body, html * {
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  display: grid;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

#logo {
  position: relative;
  width: 20%;
  min-width: 250px;
}

canvas {
  width: 360;
  height: 360;
  background-color: transparent;
}

td {
  text-align: right;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
}

.btns * {
  text-align: center;
  color: black;
  margin: 0;
  margin-top: -5px;
}

.btns img:hover {
  filter: contrast(1.3);
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  z-index: 99;
}

.scores img {
  margin-bottom: 10px;
}

.scores * {
  color: black;
  margin: 0;
  margin-top: -5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.lifes {
  width: 360;
  display: flex;
  position: fixed;
  bottom: 90px;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  z-index: 99;
}

.footer {
  width: 360;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 5px;
}

#cooldown {
  display: none;
  text-align: center;
  position: absolute;
  top: 45%;
  color: #000;
  font-size: 40pt;
  width: 100%;
  height: 55%;
  margin: 0;
  padding: 0;
  z-index: 100;
}

#cd {
  width: auto;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(240, 240, 240, 0.8);
  border-radius: 10px;
  box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.5);
}