
body{
   background: linear-gradient(#142b40 0%, #6204b3 100%);
   color: rgb(85, 112, 236);
}

#container{
   display: grid;
   justify-items:center;
   width: 100%;
   height: 100%;
   background-color: transparent;
}

#logo{
   position: relative;
   width: 22%;
}
canvas{
   width: 400;
   height: 400;
   background-color: transparent;
}

td{
   text-align: right;
}